<div class ="bodywrap">
  <div class="body">
    <% if user_signed_in? %>
      <% if current_user.teacher? %>
        <p><h1>Administer Prompts</h1></p>
        <ul class="prompts">
          <%= render @prompts %>
        </ul>
      <% elsif current_user.student? %>

      Please respond to the following outstanding prompts.
        <ul class ='prompts'>
          <% @user_prompts.each do |prompt| %>
            <li class='prompt'>
              <ul>
                <li class ='name'><%= link_to(prompt.name, prompt_path(prompt.id)) %></li> 
                  <li> 
                    <ul>
                      <li>
                      <%= link_to 'Respond', new_prompt_response_path(prompt.id) %>
                      </li>
                    </ul>
                  </li>
              </ul>
            </li>
        
        <% end %>
        </ul>


       
      
      <% end %>
    <% end %>

   </div>
</div>
