<div class= "bodywrap">
  <div class="body">

    <h1>Administer Users</h1>

    <ul>
      <% @users.each do |user| %>
      <li>
        <%= user.id %> | <%= user.name %> | <%= user.role %>
        </li>
      <% end %>
      </ul>

    </div>
  </div>