<h1>Responses#index</h1>
<p>Find me in app/views/responses/index.html.erb</p>

<a href="responses/new"> Create new Response</a>

<p>List of all responses and thier ids</p>
   <% @responses.each do |response| %>
   <li> ID: <%= link_to(response.id, response_path(response.id)) %> | User Id: <%= response.user_id %>  </li>
  <li> <%= link_to('Delete', response_path(response.id), method: :delete) %></li>
   <li><%= link_to('Edit', edit_response_path(response.id)) %> </li>
  </ul>
   <% end %>