<h1>Responses#new</h1>
<p>Find me in app/views/responses/new.html.erb</p>



<%= form_for [@prompt, @response] do |f| %>


 <%= f.hidden_field :user_id, :value => current_user.id %>



  

  <%= f.submit 'Create response' %>
<% end %>