/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navwrap {
  background: rgb(200, 25, 25); /* Fall-back for browsers that don't support rgba */        
  background: rgba(200, 200, 200, .9);
  width:600px;
  text-align: center;
  margin: 0 auto;
}

.adminwrap{
  text-align: center;
  margin: 0 auto;
}

.newnav {
  width: 300px;
  float: left;
}

.nav2 {
  width: 300px;
 
  display: inline-block;
  clear: both;
  background-color: white;

}

.adminnav{
  /*display: inline-block;*/

  margin: 0 auto;
  text-align: center;
  background: rgb(200, 25, 25); /* Fall-back for browsers that don't support rgba */        
  background: rgba(200, 200, 200, .9);
}

ul {
  list-style-type: none;
  padding: 0px;
}

html { 
  background: url(wdibg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Admin menu */

#outstandingwarning{
  font-size: 25px;
  color: red;
}

/* Landing page*/

.user-response{
  border: solid black 1px;
}

.bodywrap{
  text-align: center;
  margin: 3px;
}

.body {
  clear: both;
  width: 600px;
  margin: 0 auto;
  background: rgb(200, 25, 25); /* Fall-back for browsers that don't support rgba */        
  background: rgba(200, 200, 200, .9);
}

.home-icon img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.small-icon img{
  width: 25px;
  height: 25px;
}

/* Pure Css menu styling below*/

#primary_nav_wrap
{
  margin-top:15px;
  margin-bottom:15px;
  height: 20px;
  text-align: center;
  display: inline-block;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  text-align: center;
  margin:0 auto;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}