.prompts {
  background: white;
  width: 300px;


  li.prompt {
    width: 100%;
    text-align: left;
    background: white;
    margin: 0 0 20px;
    padding: 20px;
    box-sizing: border-box;
    border: solid black 1px;
    
    ul {
      li {
        &.name, &.response-count  {
          display: block;
          width: 100%;
        }
        &.name { font-size: 25px; }
        &.response-count { font-size: 14px; }

        ul {
          display: block;
          width: 100%;
          text-align: right;
          li {
            display: inline-block
          }
        }
      }
    } 
  }
}